body{
    background-color: #000033;
  }

@font-face {
	font-family: "HACKED";
	src: url('./Watch_Dogs.ttf');
}

h1{
  color:white;
  text-align: center;
  font-family: "HACKED";
  font-size: 50px;
}

p{
  color:white;
  font-size: :50px;
  text-align: center;
}

table{
  width:100%;
}

.case{
  font-family: "HACKED";
  color:yellow;
  text-align: center;
}
