body{
    background-color: blue;
  }

@font-face {
	font-family: "HACKED";
	src: url('./Watch_Dogs.ttf');
}

h1{
  text-align: center;
  font-family: "HACKED";
  font-size: 60px;
}

p{
  font-size: :50px;
  text-align: center;
  font-family: "HACKED";
}